apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-frontend
  namespace: nginx-frontend
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-frontend
        image: nginx
